header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}.timers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.add-timer {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 1rem;
}
.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.bottom-section {
    display: flex;
    width: 100%;
    height: 25vh;
    overflow: hidden;
}