.btn-settings, .btn-openSidebar, .timer-settings-btn {
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: rgb(68,68,68);
    text-decoration: none;
    user-select: none;
    padding: .2em 1.2em;
    outline: none;
    border: 1px solid rgba(0,0,0,.1);
    background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
    transition: all .218s ease 0s;
    border-radius: 5px;
    cursor: pointer;
}
.btn-settings:hover, .btn-openSidebar:hover, .timer-settings-btn:hover {
    color: rgb(24,24,24);
    border: 1px solid rgb(198,198,198);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.btn-settings:active, .btn-openSidebar:active, .timer-settings-btn:active {
    color: rgb(51,51,51);
    border: 1px solid rgb(204,204,204);
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}
.btn-openSidebar {
    margin-left: 100px;
    width: 100px;
}
.btn-settings {
    margin-right: 100px;
}
.timer-settings-btn {
    padding-left: 7px;
    width: 80px;
    text-align: left;
    border-radius: 0;
}

