.square, .circle, .parallelogram {
    display: grid;
    place-items: center;
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: -2px 2px rgba(0, 0, 0, 0.25);
    transition: box-shadow .15s ease-out;
}
.parallelogram {
    -webkit-transform: skew(15deg);
}
.squareInner,
.circleInner,
.parallelogramInner {
    display: grid;
    place-items: center;
    width: 76%;
    height: 100%;
    overflow: hidden;
}
.square:hover,
.circle:hover,
.parallelogram:hover {
    transform: scale(1.02);
    box-shadow: -4px 4px rgba(0, 0, 0, 0.25);
}
.squareInner {
    width: 80%;
    height: 80%;
}
.circle {
    border-radius: 100%;
}
.circleInner {
    height: 70%;
    width: 70%;
}
.parallelogramInner {
    -webkit-transform: skew(-15deg);
}
.parallelogram:hover {
    -webkit-transform: skew(15deg) scale(1.02);
}