.timerSection {
    grid-area: timerSection;
    display: grid;
    grid-template-rows: minmax(150px, 400px) 4fr 1fr;
    grid-gap: 3px;
}
.settings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'none addTimer editTimers';
    align-items: center;
    justify-items: center;
}
.addTimer {
    grid-area: addTimer;
    height: 70%;
    width: 40%;
}
.editTimers {
    grid-area: editTimers;
    height: 20%;
}
